@import url("https://fonts.googleapis.com/css2?family=Gothic+A1&family=Lato&display=swap");

* {
  font-family: Lato, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgb(78, 75, 75);
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box {
  max-width: 500px;
  width: 100%;
  margin: 10px;
  box-shadow: 1px 1px 10px rgb(222, 221, 221), -1px -1px 10px rgb(222, 221, 221);
}

form input {
  width: 100%;
  border: none;
}

form input::placeholder {
  font-style: italic;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 45px;
  border-bottom: 1px solid rgba(222, 221, 221, 0.781);
}

.checkbox {
  display: flex;
  align-items: center;
  width: 100%;
}

.checkbox > input {
  margin-right: 10px;
}

.title {
  font-size: 15px;
  font-weight: 700;
}

.clearAll button {
  width: 100%;
  height: 50px;
  border: none;
  cursor: pointer;
}

.bi-three-dots-vertical {
  cursor: all-scroll;
}

.bi-trash {
  cursor: pointer;
}

.checked {
  text-decoration: line-through;
}

[contenteditable] {
  outline: 0 solid transparent;
}

.edit-mode {
  background-color: yellow;
}

.todo-description {
  width: 100%;
  font-size: 17px;
  height: 45px;
  display: flex;
  align-items: center;
}

.todoList {
  max-height: 500px;
  overflow-y: scroll;
}
